@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Kaushan+Script&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');


/*---------------------------------------------------------------*/
/*Root variables and CSS styling that applies to all pages-------*/
/*---------------------------------------------------------------*/


:root {
    --background-light: #EAEFF3;
    --background-dark: #313135;
    --beige: #F2D6A1;
    --light-button: #BAB6B6;
    --dark-button: #64656F;
}


* {
    /*Aids in managing the size of all HTML elements*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2, h3 {
    margin-bottom: 1em;
}

h5 {
    margin-bottom: 0.5em;
}

.button {
    display: inline-block; 
    padding: 1em 1.5em; 
    text-decoration: none; 
    font-size: 16px; 
    border-radius: 8px; 
    transition: background-color 0.3s, color 0.3s;
    margin-right: 1em;
  }
  
.light-button {
    background-color: var(--light-button);
    color: black;
}

.light-button:hover {
    background-color: var(--dark-button);
    color: white;
}

.dark-button {
    background-color: var(--dark-button);
    color: white;
}

.dark-button:hover {
    opacity: 0.8;
}

.box-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.article-container {
    padding: 1em 1em;
}

.article-container p{
    margin-bottom: 2em;
}

.image-container{
    width: 100%;
    overflow: hidden;
    position: relative
}

.image-container img{
    width: 100%;
    height: auto;
}

/*-------------------------------------------*/
/*Header CSS codes---------------------------*/
/*-------------------------------------------*/


.nav-bar{
    width: 100%;
    position: fixed;
    top: 0;
    background-color: var(--background-light);
    transition: 0.5s;
    z-index: 99;
}

.company-logo-default{
    display: flex;
    /*Align vertically and horizontally*/
    justify-content: center;
    align-items: center;
    font-size: 2em;
    text-align: center;
    font-weight: 900;
    line-height: 1.4;
    padding: 0.5em 0.5em;
    transition: 0.8s;
    white-space: nowrap;
}

.company-logo-default i {
    margin-right: 10px;
}

.company-logo-scroll {
    /*Invisible by default, since the logo is only visible against the dark background of the fixed navigation
    menu*/
    display: none;
    position: absolute;
    top: .4em;
    left: .4em;
    font-size: 2em;
    border: 3px solid whitesmoke;
    padding: .2em;
}

/*Make the company logo visible when the fixed navigation menu is triggered by the user scrolling past a
vertical scroll bar threshold*/
.company-logo-scroll-active {
    display: inline;
    color: whitesmoke;
}

/* Remove defualt list style*/
.nav-links ul {
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin: auto;
    padding: 0;
    list-style-type: none;   
}

/* Remove underlines from text*/
.nav-links li a{
    display: block;
    font-size: 1.2em;
    font-weight: 700;
    text-decoration: none;
    padding: 1rem;
    position: relative;
    margin: 0.3em;
    color: black;
    transition: 0.8s;
}

/* Create bar on top of links when hovered*/
.nav-links a::after{
    content: "";
    position: absolute;
    left: 10%;
    bottom: 0;
    width: 0;
    height: 0.2em;
    background: #ff6347;
    transition: width 0.3s ease;
}

.nav-links a:hover::after {
    /*Blue line that appears above navigation link is roughly the same width as the navigation link itself*/
    width: 80%
}

/* Fixed Navigation Bar */
.nav-bar.sticky {
    padding: 0.5em 0.5em;
    background-color: var(--background-dark)
}

.nav-bar.sticky .company-logo-default{
    display: none;
}

.nav-bar.sticky a {
    color: azure;
}

.scroll-up-button button {
    position: fixed;
    display: none;
    bottom: 2em;
    right: 2em;
    width: 3.5em;
    height: 3.5em;
    background-color:whitesmoke;
}

.scroll-up-button.visible button {
    display: block;
}


/*-------------------------------------------*/
/*Main Page CSS codes------------------------*/
/*-------------------------------------------*/
.main-content{
    margin-top: 2em;
    position: relative;
    padding: 2em 5em;
    background-color: var(--background-light);
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}


.featured-news {
    grid-column: span 4;
    display: grid;
    height: 400px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 4em;
}

.featured-news-article {
    min-width: 450px;
    width: 100%;
    height: 100%;
    padding: 2em 2em;
}

.featured-buttons {
    margin-top: 4em;
}

.main-image-container {
    width: 100%;
    overflow: hidden;
    position: relative
}

.main-image-container img {
    width: 100%; 
    object-fit: cover; 
}

.trending-news {
    padding: 1em 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

.trending-news h2{
    margin-left: 5em;
}

.trending-news .main-trending {
    grid-column: span 2;
}

.recent-posts {
    display: grid;
    row-gap: 2em;
}
.recent-posts h2{
    text-align: center;
    margin-bottom: 3em;
}




/*-----------------------------------------------------------------------------------------------------------------*/
/*Black text overlay on beige background that appears when the double left caret is hovered on specific images-----*/
/*-----------------------------------------------------------------------------------------------------------------*/

/*Give the text overlay header a decorative font
The decorative font is not used for the paragraph since it may impair legibility*/
.small-image-header h3 {
    font-size: 1.7em !important;
    font-weight: 600;
    margin-bottom: .4em;
}

/*Distinguish the text from the header by reducing its size and giving it a readable font*/
.small-text-overlay p {
    line-height: 1.8;
    font-size: 0.81em;
    font-weight: 400 !important;
    text-align: center;
}

/*Ensure that the text is not visible before the double left caret is hovered by the user*/
.small-text-overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: var(--beige);
    color: black;
    left: 0;
    /*Align the beige background with the dimensions of the image container it is overlapping*/
    bottom: 0;
    height: 100%;
    width: 100%;
    /*This ensures that the text does not overflow and become visible before the overlay is toggled.
    % is used instead of ems to accommodate large screens which may result in overflow otherwise*/
    padding: 15%;
    transition: ease-in-out 420ms;
    /*Position overlay to be occupy a portion of the right side of the image before being hovered over by the user*/
    transform: translateX(87%);
}

/*Vertically center the header and text within the image height*/
.small-text-overlay>* {
    transform: translateY(-5px);
}

/*Position opaque background to cover the original background image*/
.small-text-overlay:hover {
    transform: translateY(0);
}

/*The two left-pointing carets that prompt the user to see more*/
.double-left-caret {
    position: absolute;
    left: 4%;
    top: 48%;
    font-size: 1.5em;
    color: var(--dark-grey);
}

/*The two left-pointing carets grow and shrink continually in order to indicate an interactive element
This is the only continuous animation on the web page, emphasizing its importance.*/
.double-left-caret i {
    animation: growAndShrink 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

/*Interactivity of the left-pointing carets is emphasized by an animation that changes in size and opacity*/
@keyframes growAndShrink {

    /*Shrink the left-pointing carets*/
    0% {
        transform: scale(0.97);
        opacity: 0.6;
    }

    /*Grow the left-pointing carets*/
    50% {
        transform: scale(1.1);
        opacity: 1;
    }

    /*Restore the left-pointing carets to the original, smaller state*/
    100% {
        transform: scale(0.97);
        opacity: 0.6;
    }
}


/*-------------------------------------------*/
/*Footer CSS codes---------------------------*/
/*-------------------------------------------*/

.footer {
    width: 100%;
    height: 300px;
    padding: 4em 4em;
    background-color: black;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.footer-section h4 {
    position: relative;
    margin-bottom: 1.5em;
    color: aliceblue;
}

.footer-section h4::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.2em;
    width: 10%;
    height: 0.2em;
    background: #ff6347;
    transition: width 0.3s ease;
}

.footer-section h4:hover::after{
    width: 20%;
}

.footer-links ul {
    justify-content: space-between;
    margin: auto;
    margin-left: 0.5em;
    padding: 20;
    list-style-type: none;   
}

.footer-links li {
    padding: 0.5em 0; 
    list-style: none;
}

.footer-links li a{
    display: block;
    font-size: 0.9em;
    text-decoration: none;
    transition: 0.8s;
    transform-origin: left;
    color: antiquewhite;

}

.footer-links ul li a:hover {
    transform: scale(1.2);
}

.social-media-links ul{
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1em;
}

.social-media-links li {
    display: inline-flex;
    width: 3em;
    height: 3em;
    align-items: center;
    justify-content: center;
    padding: 1em; 
    border: 2px solid #fff; 
    background-color: #fff; 
    border-radius: 50%; 
}

.social-media-links li a {
    color: black;
}

